<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.BoardCommentMapper">
    <!--    CRUD    -->
    <insert id="createComment">
        <!-- db 구조 -->
        INSERT INTO board_comment(`board_uid`, `account_uid`, `body`)
        VALUES (#{comment.boardUid}, #{comment.accountUid}, #{comment.body});
    </insert>

    <select id="getComment" resultType="domain.dto.BoardCommentDTO">
        SELECT BC.`uid`,
               BC.`account_uid`,
               A.`nickname`,
               BC.`body`,
               BC.`created_at`,
               BC.`updated_at`,
               (SELECT count(`status`)
                FROM board_comment_emotion
                WHERE `board_comment_uid` = BC.`uid`) as emotion
        FROM board_comment BC
                 LEFT OUTER JOIN
             account A
             ON
                 BC.`account_uid` = A.`uid`
        WHERE board_uid = #{board_uid}
        ORDER BY `created_at` ASC
            LIMIT ${page}, ${range};
    </select>

    <update id="updateComment">
        UPDATE `board_comment`
        SET `body` = #{comment.body}
        WHERE `uid` = #{comment.uid}
    </update>

    <delete id="deleteComment">
        DELETE
        FROM board_comment
        WHERE `uid` = ${comment_uid};
    </delete>

    <!--    func    -->

    <select id="getAccountUid" resultType="Long">
        SELECT `account_uid`
        FROM board_comment
        WHERE `uid` = #{comment_uid};
    </select>

    <insert id="createBoardCommentEmotion">
        <!-- db 구조 -->
        INSERT INTO `board_comment_emotion`(`board_comment_uid`, `account_uid`, `status`)
        VALUES (#{board_comment_uid}, #{account_uid}, #{status});
    </insert>

    <delete id="deleteBoardCommentEmotion">
        DELETE
        FROM `board_comment_emotion`
        WHERE `board_comment_uid` = ${board_comment_uid}
          AND `account_uid` = ${account_uid};
    </delete>

    <select id="getBoardCommentEmotion" resultType="domain.dto.BoardCommentEmotionDTO">
        SELECT BCE.`account_uid`,
               A.`nickname`,
               BCE.`status`
        FROM `board_comment_emotion` BCE
                 LEFT OUTER JOIN
             `account` A
             ON
                 A.`uid` = BCE.`account_uid`
        WHERE `board_comment_uid` = #{board_comment_uid};
    </select>

    <select id="isBoardComment" resultType="Boolean">
        SELECT EXISTS(
                       SELECT `uid`
                       FROM `board_comment`
                       WHERE `uid` = #{comment_uid}
                       LIMIT 1
                   );
    </select>
</mapper>