<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.BoardMapper">
    <insert id="createBoard">
        <!-- db 구조 -->
        INSERT INTO board(`title`, `body`, `account_uid`)
        VALUES (#{board.title}, #{board.body}, #{uid});
    </insert>

    <select id="getSummaryBoardList" resultType="domain.dto.BoardDTO">
        SELECT uid, title, account_uid, create_at, update_at
        FROM board;
    </select>

    <select id="getBoardList" resultType="domain.dto.BoardDTO">
        SELECT uid, title, account_uid, create_at, update_at
        FROM board
        WHERE board_uid = #{board_uid};
    </select>

    <update id="updateBoard">
        UPDATE board
        SET title     = #{board.title},
            body      = #{board.body},
            update_at = current_timestamp
        WHERE uid = #{uid}
    </update>

    <delete id="deleteBoard">
        DELETE
        FROM board
        WHERE uid = ${uid};
    </delete>
</mapper>